<div class="form-container">
  <ng-container *ngIf="mode === 'login'">
    <app-input
      label="Correo electrónico"
      type="email"
      placeholder="ejemplo@cine.com"
      iconName="mail-outline"
      [(ngModel)]="email"
    ></app-input>
    
    <app-input
      label="Contraseña"
      type="password"
      placeholder="••••••••"
      iconName="lock-closed-outline"
      [showToggle]="true"
      [(ngModel)]="password"
    ></app-input>
    
    <app-button
      label="Iniciar Sesión"
      iconEnd="arrow-forward-outline"
      (onClick)="onSubmit()"
    ></app-button>
  </ng-container>

  <ng-container *ngIf="mode === 'register'">
    <app-input
      label="Nombre completo"
      type="text"
      placeholder="Tu nombre"
      iconName="person-outline"
      [(ngModel)]="name"
    ></app-input>
    
    <app-input
      label="Correo electrónico"
      type="email"
      placeholder="ejemplo@cine.com"
      iconName="mail-outline"
      [(ngModel)]="email"
    ></app-input>
    
    <app-input
      label="Contraseña"
      type="password"
      placeholder="Mínimo 8 caracteres"
      iconName="lock-closed-outline"
      [showToggle]="true"
      [(ngModel)]="password"
    ></app-input>
    
    <app-button
      label="Crear Cuenta"
      iconEnd="person-add-outline"
      (onClick)="onSubmit()"
    ></app-button>
  </ng-container>
</div>