<div class="movie-card" (click)="clickCard.emit(movie)">
  <!-- Poster placeholder -->
  <div class="poster-placeholder">
    <ion-icon name="film-outline" class="poster-icon"></ion-icon>
  </div>
  
  <!-- Información -->
  <div class="movie-info">
    <h3 class="movie-title">{{ movie.title }}</h3>
    <div class="movie-meta">
      <span class="movie-genre">{{ movie.genre }}</span>
      <span class="movie-date">{{ movie.releaseDate }}</span>
    </div>
    <app-rating-stars [rating]="movie.rating" size="16px"></app-rating-stars>
  </div>
  
  <div class="movie-arrow">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
</div>